server_token off;

server {
    listen 80;
    listen [::]:80;

    server_name {{ tldr_yudocaa_hostname }};

    location ~ /\.well-known/ {
        root /usr/share/nginx/html;
    }

    return 301 https://$server_name$request_uri;
}
